* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
p {
  color: #575757;
}

.fixable-container {
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.half-width {
  width: 50%;
}
.orange-color {
  color: orange;
}

.link-button {
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  padding: 18px 30px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 20px #fc8f49;
}

/* heading area */
.header-area-left {
  padding: 200px 50px 0 100px;
}

.header-title {
  font-size: 60px;
}
.header-description {
  padding: 30px 200px 50px 0;
}

/* about us area */

.about-person {
  width: 300px;
}
